* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.mp3 binary
*.wav binary
*.m4a binary
*.mp4 binary
*.mov binary
*.webm binary
*.zip binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.ps1 text eol=crlf
